<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ shop.name }} - {{ page_title }}</title>

    <!-- content for header -->
    {{ content_for_header }}

    <!-- checkout stylesheets -->
    {{ checkout_stylesheets }}

    <!-- checkout scripts -->
    {{ checkout_scripts }}

    <script>
        function findAncestor(el, cls) {
            while ((el = el.parentElement) && !el.classList.contains(cls));
            return el;
        }
        /* region Previous code */
        if (window.location.href.indexOf('checkout') > -1 && document.location.href.indexOf('thank_you') === -1 && document.location.href.indexOf('orders') === -1) {
            var getWindowWidth = function() {
                var w = window,
                    d = document,
                    e = d.documentElement,
                    g = d.getElementsByTagName('body')[0],
                    x = w.innerWidth || e.clientWidth || g.clientWidth;

                return x;
            }

            var findLabelForControl = function(el) {
                var idVal = el.id;
                labels = document.getElementsByTagName('label');
                for( var i = 0; i < labels.length; i++ ) {
                    if (labels[i].htmlFor == idVal)
                        return labels[i];
                }
            }
            var renamePostalCode = function() {
                if(getWindowWidth() > 750) {
                    findAncestor(document.getElementById('checkout_shipping_address_country'), 'field--three-eights').style.width = '31.5%';
                    findAncestor(document.getElementById('checkout_shipping_address_province'), 'field--three-eights').style.width = '31.5%';
                    findAncestor(document.getElementById('checkout_shipping_address_zip'), 'field--quarter').style.width = '37%';
                }

                var labelElem = findLabelForControl(document.getElementById('checkout_shipping_address_zip'));
                labelElem.innerHTML = 'Codigo Postal y Colonia';
            }
            var renameAddress2 = function() {
                if(getWindowWidth() > 750) {
                    findAncestor(document.getElementById('checkout_shipping_address_address1'), 'field').classList.remove("field--two-thirds");
                    findAncestor(document.getElementById('checkout_shipping_address_address2'), 'field').classList.remove("field--third");
                }

                var elem = document.getElementById('checkout_shipping_address_address2');
                elem.placeholder = 'Número interior 3, departamento 3, colonia, etc. (opcional)';
            }

            // window.addEventListener('load', renameAddress2);
        }
        /* endregion */

        var changePayUAppearance = function() {
            var all_logos = document.querySelectorAll('.offsite-payment-gateway-logo');

            all_logos.forEach(function(logo) {
                if (logo.alt == 'PayU Latam') {
                    logo.classList.add('hidden');
                    var the_span = logo.nextElementSibling;
                    the_span.innerHTML = "Pago con tarjeta de crédito y débito";
                    the_span.classList.remove('visually-hidden');

                    var the_option = findAncestor(logo, 'radio-wrapper');
                    var card_icons = the_option.querySelector('.radio__label__accessory ul');
                    var li = document.createElement("li");
                    li.classList.add('payment-icon');
                    li.classList.add('payment-icon--discover');
                    li.setAttribute("data-payment-icon", "discover");
                    card_icons.appendChild(li);
                } else if (logo.alt == 'PayPal') {
                    findAncestor(logo, 'radio-wrapper').querySelector('.radio__label__accessory ul').classList.add('hidden');
                }
            });
        };

        document.addEventListener('DOMContentLoaded', changePayUAppearance);
    </script>
  </head>
  <body>
  <div id="header" class="cart">
    <div class="secure-payment"><img src="{{ 'icon-mercado-pago.png' | asset_url | split:'?' | first }}" alt="MercadoPago secure payment" /><span>{{ 'layout.header.secure_payment_html' | t }}</span><img src="{{ 'icon-paypal.png' | asset_url | split:'?' | first }}" alt="PayPal secure payment" /></div>

    <div class="page-header">
      <a class="text-logo" href="{{ shop.url }}"><strong>Floatie</strong> Kings</a>
      <div class="top-nav"><!-- filler --></div>
      <div class="cart-wrap"><!-- filler --></div>
  </div>

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
            {%  include 'installment-notification' with checkout.total_price %}
          </div>
        </div>
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>
